:root {
  --trans: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  --trans-slow: cubic-bezier(0.4, 0, 0.2, 1) 400ms;

  --cl-black: #000000;
  --cl-white: #ffffff;
  --cl-l-gray: #f8f9fa;
  --cl-accent: #f2c100;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Verdana', sans-serif;
  line-height: 1.4;
  color: var(--cl-black);
  background-color: var(--cl-white);
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.anchor {
  position: relative;
  top: -80px;
}

.header {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}

.nav {

}

.nav-list {
  list-style: none;
  display: flex;
  width: fit-content;
  gap: 20px;
  margin-left: auto;
  padding-left: 0;
}

.nav-link {
  display: block;
  padding: 20px 10px;
  transition: color var(--trans);
}

.nav-link:hover {
  color: var(--cl-accent);
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-title {
  margin-bottom: 20px;
}

.my-projects__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
}


.project-card {
  position: relative;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  overflow: hidden;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
  color: var(--cl-white);
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity var(--trans-slow);
}

.project-card:hover .project-card__overlay {
  opacity: 1;
}

.project-card__title {
  margin-bottom: 20px;
}

.project-card__link {
  transition: color var(--trans);
}

.project-card__link:hover {
  color: var(--cl-accent);
}

.project-card__dsc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  margin-top: 30px;
  padding: 30px 0;
  background: var(--cl-l-gray);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}